.pilot, .switchContainer, .buttonContainer, .motorContainer, .analogInput{
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
}

.pilot .pilotDescription,.switchContainer .switchDescription, .buttonContainer .buttonDescription, .motorContainer .motorDescription {
	text-align: center;
}

.pilotImage img{
	width: 50px;
	
}

.switchButton{
	cursor: pointer;
	border: none;
	height:57px; 
	width:160px;
	
}

.buttonButton{
	cursor: pointer;
	border: none;	
	height:120px; 
	width: 120px;
}

.motor input[type=button]{
	width: 100px;
	height: 100px;
	font-size: 40px;
}

.motorContainer .valor_velocidad{
	font-size: 40px;
}

.analogInput .analogValue{
	font-size: 40px;
}

.contenedor_equipo{
	box-shadow: 0 0 14px #123;
}

.contenedor_equipo .pilotos, .interruptores, .pulsadores, .analogicas_entradas, .analogicas_salidas{
	clear:both;
	overflow: auto;
	box-shadow: 0px 5px 4px #ccc;
	margin-bottom: 20px;
}

.contenedor_equipo .top_contenedor_equipo{
	padding: 10px;
	background-color: #ddd;
	margin-bottom:10px;
	color: #666;
}

.contenedor_equipo .top_contenedor_equipo .titulo{
	font-size: 20px;
}

.contenedor_equipo .top_contenedor_equipo .ultima_actualizacion{
	float: right;
}
